[head]
head ansible_host={{ hostvars['head'].ansible_default_ipv4.address }} ansible_user=vagrant ansible_ssh_private_key_file=.vagrant/machines/head/libvirt/private_key

[compute]
{% for host in groups['compute'] %}
{{ host }} ansible_host={{ hostvars[host].ansible_default_ipv4.address }} ansible_user=vagrant ansible_ssh_private_key_file=.vagrant/machines/{{ host }}/libvirt/private_key
{% endfor %}

